---
layout: default
title: Latest
permalink: /
---
<h1 class="post-title accent-gray">{{ page.title }}</h1><span id='t-h' class='h-text'></span>
<div class="posts">
    <ul class="post-list">
	{% for post in paginator.posts limit:1 %}
	<div class='click-div' onclick="window.open('{{ post.url | prepend: site.baseurl  }}')", '_blank');>
	    <li class="post">
		<h1 class="post-title">
		    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
			{{ post.title | escape }}
		    </a>
		</h1>

		{% assign date_format = site.date_format | default: "%b %-d, %Y" %}
		<span class="post-meta post-date">{{ post.date | date: date_format }}</span>

		{% assign post_excerpt = post.content | truncatewords: 30 %}
		{{ post_excerpt }}
		{% capture content_words %}
		    {{ post.content | number_of_words }}
		{% endcapture %}
		{% capture excerpt_words %}
		    {{ post_excerpt | number_of_words }}
		{% endcapture %}
		{% if post_excerpt == post.description or excerpt_words != content_words %}
		<p class="more-link"><code>...more</code></p>
	    </li>
	</div>
	{% endif %}
	{% endfor %}
    </ul>
    <span id='t-d' class='h-text'></span>
    <br>
    <div class='related-posts'>
	<ul>
	    <!-- TODO: this is not working properfy. it should exclude current -->
	    {% for post in paginator.posts  %}
	    {% if post.pinned != true %}
	    <li>
		<h4>
		    <a href="{{ post.url }}">
			<i>{{ post.title }}</i>
		    </a><i><small>  — {{ post.date | date_to_string }}</small></i>
		</h4>
	    </li>
	    {% endif %}
	    {% endfor %}
	</ul>
    </div>
</div>
<script>
 function pages(){
     let d = document.getElementById("t-h");
     d.innerHTML = '';
     let t = [72,105,100,100,101,110,32,105,110,32,112,108,97,105,110,32,115,105,103,104,116];
     for (var i = 0; i < t.length; i++) {
	 d.innerHTML += String.fromCodePoint(t[i]);
	 // d.innerHTML += x.codePointAt(i) + ',';
     }
     d = document.getElementById("t-d");
     d.innerHTML = '';
     let x = [116,101,120,116,32,115,116,97,114,116,115];
     for (var i = 0; i < x.length; i++) {
	 d.innerHTML += String.fromCodePoint(x[i]);
     }
 }
</script>
