.sidebar .tagline {
    margin-left: 2em;
    margin-top: -1em;
}
html h1:first-child {
    color:#aaafaf;
}
.post-title a:hover{
    color: #268bd2;
    text-decoration: none;
}
.more-link {
    margin-left: auto;
    margin-top: -2em;
    color: red;
}
p.more-link a{
    display:block;
    color: #aaaaaf;
}
.related-posts li {
    list-style-type: none;
    margin-top: -0.5em;
    margin-bottom: 1em;
    margin-left: 0;
    color: #aaaaaf;
}
.related-posts li a{
    color: #aaaaaf;
}

.accent-red{
    color: #a40000;
}

.accent-gray{
    color: #aaafaf;
}

.accent-dark-gray{
    color: #656565;
}

.click-div{

    border-radius: 1%;
    padding: 3%;
    cursor: pointer;
}
.click-div li {
   list-style-type: none; 
}

.h-text{
    color: #fff;
}

.sidebar .h-bg {
    color:#202020;
}
.post h3{
    color: #ac4c57;
}
